html
  background: var(--color-bg)
  color: var(--color-type)
  transition: background var(--transition-theme), color var(--transition-theme)
  &[data-theme='light']
    background: var(--theme-main-bg)
    color: var(--theme-main-type)
  &[data-theme='dark']
    background: var(--theme-main-bg-inverted)
    color: var(--theme-main-type-inverted)
    
body, main
  position: relative
  height: 100%

.page, main
  min-height: 100dvh