html
  header
    background: var(--theme-dark-bg)
    color: var(--theme-dark-type)
  main
    background: var(--theme-dark-bg)
    color: var(--theme-dark-type)
  footer
    background: var(--theme-dark-footer-bg)
    color: var(--theme-dark-footer-type) !important
  &[data-theme='light']
    background: var(--theme-light-bg)
    color: var(--theme-main-type)
    footer
      background: var(--theme-light-footer-bg)
      color: var(--theme-light-footer-type)
  &[data-theme='dark']
    background: var(--theme-dark-bg)
    color: var(--theme-dark-type)
    footer
      background: var(--theme-dark-footer-bg)
      color: var(--theme-dark-footer-type)
    
body
  position: relative
  height: 100dvh
  overflow-y: auto

main
  position: relative
  height: 100%
  margin-bottom: 100dvh
