// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px
  
:root

  // Colors
  --color-black: #000000
  --color-white: white
  --color-grey: #C7C7C7
  // // Colors Themes
  --theme-light-bg: var(--color-white)
  --theme-light-bg-footer: var(--color-black)
  --theme-light-type: var(--color-black)
  --theme-light-footer-type: var(--color-white)
  --theme-dark-bg: var(--color-black)
  --theme-dark-footer-bg: var(--color-grey)
  --theme-dark-type: var(--color-white)
  --theme-dark-footer-type: var(--color-black)
  // Layout
  --layout-border: 2px 
  // Spacing
  --spacing-sides: 2rem
  --spacing-header-height: calc(38px + 1rem)
  // Z-Indexes
  --z-header: 100
  --z-footer: 100
  // Transitions
  --transition-general: 0.33s ease-in-out
  --transition-theme: 0.33s ease-in-out
  --transition-images: 0.33s ease-in
  --transition-images-hover: 0.165s linear
  // Borders
  --border: 1px solid currentColor