// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px
  
:root

  // Colors
  --color-black: #000000
  --color-dark-grey: #171717
  --color-white: white
  --color-stone: #edeae6
  --color-blue: #2a52df
  // // Colors Themes
  --color-bg: var(--color-white)
  --color-type: var(--color-black)
  --color-bg-modal: hsla(0, 0%, 0%, 0.66)
  --theme-main-bg: var(--color-white)
  --theme-main-type: var(--color-black)
  --theme-main-bg-inverted: var(--color-dark-grey)
  --theme-main-type-inverted: var(--color-white)
  --theme-stone-bg: var(--color-stone)
  --theme-stone-type: var(--color-blue)
  --theme-blue-bg: var(--color-blue)
  --theme-blue-type: var(--color-black)
  // Layout
  --layout-border: 2px 
  // Spacing
  --spacing-sides: 1rem
  --spacing-header-height: calc(38px + 1rem)
  // Z-Indexes
  --z-inder-threed: 0
  --z-index-header: 100
  --z-index-footer: 100
  // Transitions
  --transition-general: 0.33s ease-in-out
  --transition-theme: 0.33s ease-in-out
  --transition-images: 0.33s ease-in
  --transition-images-hover: 0.165s linear
  // Borders
  --border-radius-images: 0.5rem