// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px
  
:root

  // Colors
  --color-black: #000000
  --color-white: white
  --color-grey: #C7C7C7
  // // Themes
  // Light
  --theme-light-bg: var(--color-grey)
  --theme-light-type: var(--color-black)
  --theme-light-footer-bg: var(--color-black)
  --theme-light-footer-type: var(--color-white)
  // Dark
  --theme-dark-bg: var(--color-black)
  --theme-dark-type: var(--color-white)
  --theme-dark-footer-bg: var(--color-grey)
  --theme-dark-footer-type: var(--color-black)
  // Layout
  --layout-border: 2px 
  // Spacing
  --spacing-sides: 2rem
  --spacing-header-height: calc(38px + 1rem)
  --text-max-width: 38em
  // Z-Indexes
  --z-header: 800
  --z-footer: -1
  // Transitions
  --transition-general: 0.33s ease-in-out
  --transition-theme: 0.33s ease-in-out
  // Borders
  --border: 1px solid currentColor