.sectionNumbers
  display: flex
  padding: 2rem 0
  & > div:last-child
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    & > div
      width: 50%

.column
  flex: 1

.sectionCounter
  position: absolute
  top: 0
  right: 0
  display: inline-flex
  align-items: flex-start
  justify-content: flex-end
  gap: 2rem
  padding: 1rem var(--spacing-sides )
  // Font
  p
    font-family: var(--font-space-mono), monospace
    font-size: 0.75rem
    color: currentColor
    font-weight: 400
    line-height: 1.4
    text-transform: uppercase