.header
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  height: 4rem
  width: 100%
  border-bottom: var(--border)
  position: sticky
  top: 0
  z-index: var(--z-header)

  .block
    border-left: var(--border)
    display: flex
    align-items: center
    padding: 0 var(--spacing-sides)
    svg, img
      height: 2rem
      width: auto
      cursor: pointer
    &:first-child
      border-left: none

.logo
  flex-grow: 1
  svg
    height: 2rem
    width: auto
  