.header
  position: sticky
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  height: 4rem
  width: 100%
  border-bottom: var(--border)
  z-index: var(--z-header)
  backdrop-filter: blur(10px) saturate(180%)
  -webkit-backdrop-filter: blur(10px) saturate(180%)
  supports-backdrop-filter: blur(10px)
  isolation: isolate

  .block
    border-left: var(--border)
    display: flex
    align-items: center
    padding: 0 var(--spacing-sides)
    svg, img
      height: var(--icon-large)
      width: auto
      cursor: pointer
      user-select: none
    &:first-child
      border-left: none

.logo
  flex-grow: 1
  svg
    height: 2rem
    width: auto

.animateBlockWidth
  width: 0px
  padding: 0 !important
  display: flex
  justify-content: center
  cursor: pointer
  user-select: none
  
.animateBlockContent
  opacity: 0
  padding: 0 var(--spacing-sides) 