.header
  position: sticky
  top: 0
  left: 0
  right: 0
  display: flex
  align-items: center
  justify-content: space-between
  height: 4rem
  width: 100%
  border-bottom: var(--border)
  z-index: var(--z-header)
  backdrop-filter: blur(10px) saturate(180%)
  -webkit-backdrop-filter: blur(10px) saturate(180%)
  supports-backdrop-filter: blur(10px)
  isolation: isolate
  & > div:first-child
    padding-left: var(--spacing-sides) !important
  & > div:last-child
    padding-right: var(--spacing-sides) !important

  .block
    // border-left: var(--border)
    // display: flex
    // align-items: center
    // padding: 0 var(--spacing-sides)
    // Font
    p
      font-family: var(--font-space-mono), monospace
      font-size: 0.75rem
      color: var(--theme-type-secondary)
      line-height: 1.4
      text-transform: uppercase
      transition: color var(--transition-general)
    svg, img
      height: var(--icon-small)
      width: auto
      cursor: pointer
      user-select: none
    // &:first-child
    //   border-left: none

.logo
  flex-grow: 1
  padding: 0 0.75rem
  svg
    height: 2rem
    width: auto

.animateBlockWidth
  width: 0px
  padding: 0 !important
  display: flex
  justify-content: center
  cursor: pointer
  user-select: none
  
.animateBlockContent
  opacity: 0
  padding: 0 0.75rem

.active
  color: var(--theme-type)
  p
    color: var(--theme-type) !important