.sectionIntro
  display: flex
  justify-content: space-around

.slogan
  display: flex
  align-items: flex-start
  flex: 1
  gap: 2rem
  padding: 4rem var(--spacing-sides)
  h2
    font-size: 2.5rem
    max-width: 8em
    line-height: 1.2
  p
    padding-top: 0.25rem

.textContainer
  display: flex
  align-items: center
  flex: 1
  padding: 4rem var(--spacing-sides)
  gap: 2rem
  @media screen and (max-width: 1400px)
    flex-direction: column
  
.copy
  max-width: var(--text-max-width)

.buttonContainer
  display: flex
  justify-content: flex-start
  align-items: center

.sectionCounter
  position: absolute
  top: 0
  right: 0
  display: inline-flex
  align-items: flex-start
  justify-content: flex-end
  gap: 2rem
  padding: 1rem var(--spacing-sides )
  // Font
  p
    font-family: var(--font-space-mono), monospace
    font-size: 0.75rem
    color: currentColor
    font-weight: 400
    line-height: 1.4
    text-transform: uppercase