.footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  justify-content: flex-end
  z-index: var(--z-footer)
  p, li, a, h1, h2, h3
    font-size: 0.75rem
    line-height: 1.4
    text-transform: uppercase
    letter-spacing: 0.05em

.container_top
  padding: 9rem var(--spacing-sides)
  @media screen and ( max-width: 770px)
    padding: var(--spacing-sections) var(--spacing-sides)

.container_bottom
  border-top: var(--border)
  padding-left: var(--spacing-sides)
  height: 3.125rem
  @media screen and ( max-width: 770px)
    height: 4rem
  ul
    display: flex
    gap: 2rem
    height: 100%
    li
      position: relative
      display: flex
      align-items: center
      justify-content: center
      user-select: none
      cursor: pointer
      color: currentColor
      height: 100%
      &:last-child
        display: flex
        justify-content: center
        align-items: center
        flex-shrink: 0
        width: 3.125rem
        padding: 0
        border-left: var(--border)
        @media screen and (max-width: 770px)
          width: 4rem
    @media screen and ( max-width: 770px)
      gap: 1rem
  @media screen and ( max-width: 770px)
    .screenres
      display: none
  @media screen and ( max-width: 550px)
    .userinfoContainer
      display: none

.content
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  wrap: nowrap
  margin: 0 auto
  max-width: 1400px
  gap: 3rem
  @media screen and ( max-width: 770px)
    justify-content: flex-start
    gap: 2rem

.column
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 1rem
  gap: 1.5rem
  @media screen and ( max-width: 770px)
    gap: 0.5rem

.columnTitle
  color: var(--theme-type-secondary)

.columnLinks
  display: flex
  flex-direction: column
  gap: 0.5rem
  @media screen and ( max-width: 770px)
    gap: 0.25rem
    cursor: pointer

.columnOne
  @media screen and ( max-width: 770px)
    width: 100%
    gap: 1rem
  svg, img
    height: var(--icon-size)
    width: auto
    cursor: pointer
    user-select: none
    @media screen and ( max-width: 770px)
      flex-shrink: 0
  p
    font-size: 1.25rem
    color: var(--theme-type-secondary)
    font-weight: 600
    max-width: 12em
    text-transform: unset
    @media screen and ( max-width: 770px)
      max-width: 16em

.columnTwo
  @media screen and ( max-width: 770px)
    display: none

.link
  text-decoration: none
  color: currentColor

.copyright
  justify-content: flex-start !important

.copyright, .userinfoContainer, .screenres
  flex-grow: 1

