.block
  padding: 2rem var(--spacing-sides)
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 1rem

  .number
    &_top
      display: flex
      align-items: flex-start
      gap: 1rem
      &_left
        span
          font-size: 3rem
          font-family: var(--font-space-mono), monospace
          line-height: 1
      &_right
        p
          margin-top: .38em
          color: var(--theme-type-secondary)
          font-family: var(--font-space-mono), monospace
          font-size: 0.75rem
          text-transform: uppercase
    &_bottom
      font-size: 1rem
      max-width: 16em

  &[data-large='true']
    @media screen and (min-width: 950px)
      gap: 1.5rem
      .number
        &_top
          &_left
            span
              font-size: 4.5rem
        &_bottom
          font-size: 1.5rem
