.sectionIntro
  display: flex
  justify-content: space-around
  align-items: flex-start
  border-bottom: var(--border)

.slogan
  display: flex
  align-items: flex-start
  flex: 1
  gap: 2rem
  padding: 4rem var(--spacing-sides)
  h2
    font-size: 1.5rem

.textContainer
  display: flex
  flex: 1
  padding: 4rem var(--spacing-sides)
  gap: 2rem
  
.copy
  max-width: var(--text-max-width)

.buttonContainer
  display: flex
  justify-content: flex-start
  align-items: center